.auth-box-container {
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background: linear-gradient(
		90deg,
		rgba(131, 58, 180, 1) 0%,
		rgba(253, 29, 29, 1) 50%,
		rgba(252, 176, 69, 1) 100%
	);

	.auth-box {
		width: 50%;
		height: 50%;
		background-color: #36393f;
		border-radius: 5px;
		box-shadow: 0 2px 10px 0 rgba($color: #000000, $alpha: 0.2);
		display: flex;
		flex-direction: column;
		padding: 25px;
	}
}
